/hh
/src/handmade.h
/src/handmade.cpp
/src/handmade_*
/src/xcb_handmade.config
/src/xcb_handmade.creator
/src/xcb_handmade.creator.user
/src/xcb_handmade.files
/src/xcb_handmade.includes
/build
/data/test
